.payment {
    overflow-y: scroll;
}

.proceed-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.proceed-button {
    margin-top: 30px;
    position: static;
}

.payment-modal {
    width: 600px;
    padding: 50px;
}

.payment-first-step .payment-header,
.payment-second-step .payment-header,
.payment-third-step .payment-header {
    font-weight: 700;
    font-size: 20px;
}

.payment-field-label {
    font-weight: 700;
    margin-bottom: 10px;
}

.upload-button {
    cursor: pointer;
}

.field-container-button {
    margin-top: 30px;
}

.upload-icon-container {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button .upload-icon {
    width: 25px;
}

.hide-input-file {
    display: none;
}

.modal .close-button {
    background-color: transparent;
    background-image: none;
    color: rgb(83, 1, 1);
    font-size: 30px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 10px;
}

.cost-and-gcash-number {
    text-align: center;
}

.payment-cost {
    font-size: 40px;
}

.payment-gcash-number {
    font-size: 20px;
}

.receiving-option-container .option {
    display: flex;
    flex-direction: column;
}

.radio-label {
    display: flex;
    align-items: center;
}

.delivery-address-container {
    margin-top: 5px;
}

.delivery-address-container input {
    width: 100%;
}