#remarks,
#reason-for-rejection,
select {
    height: 40px;
}

.header,
.field-label {
    opacity: 0.5;
}

.open {
    color: black;
    opacity: 1;
}

.back-button-container,
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    column-gap: 10px;
}

.completed-on,
.released-on,
.rejected-on {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cost-container {
    font-size: 20px;
    margin-bottom: 10px;
}

.update-success-message,
.release-success-message {
    text-align: center;
    color: green;
}

.approval-no,
.approval-yes {
    padding: 5px 5px;
    border-radius: 5px;
}

.approval-no {
    background-color: #f38686;
}

.approval-yes {
    background-color: #9af386;
}